h1 {
border-bottom:1px solid black
}
p.green{
text-decoration:underline;
color:pink;
font-size:25px;
font-family:helvetica:
}
p.blue{
color:yellow;
font-size:25px;
font-family:helvetica:
}
h2{
border:1px solid black;
}